name: Simple Unity Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: game-ci/unity-builder@v4
        with:
          version: 6000.3.8f1
          android: true
      - uses: game-ci/unity-builder@v4
        with:
          targetPlatform: Android
      - uses: actions/upload-artifact@v4
        with:
          name: MyUnityGame
          path: Builds/Android/*.apk
